MODBUS_TEST.json
[
    {
        "type": "tab",
        "id": "d0901f20.f33e9",
        "label": "Sheet 1"
    },
    {
        "id": "46c69572.033904",
        "type": "modbus tcp",
        "name": "SIMULATION SERVER",
        "host": "localhost",
        "port": "502",
        "x": 569,
        "y": 37,
        "z": "d0901f20.f33e9",
        "wires": [
            [
                "ccdd79f3.ceabb"
            ]
        ]
    },
    {
        "id": "ccdd79f3.ceabb",
        "type": "debug",
        "name": "TEST",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 756,
        "y": 121,
        "z": "d0901f20.f33e9",
        "wires": []
    },
    {
        "id": "c87b3c7c.8f712",
        "type": "inject",
        "name": "FC 1",
        "topic": "",
        "payload": "",
        "payloadType": "none",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 151,
        "y": 36,
        "z": "d0901f20.f33e9",
        "wires": [
            [
                "280d2fac.c0c5b"
            ]
        ]
    },
    {
        "id": "280d2fac.c0c5b",
        "type": "ModbusItem",
        "fc": "1",
        "address": "10",
        "count": "1",
        "value": "  ",
        "name": "FC 1",
        "x": 316,
        "y": 36,
        "z": "d0901f20.f33e9",
        "wires": [
            [
                "46c69572.033904"
            ]
        ]
    },
    {
        "id": "94a165fb.500608",
        "type": "inject",
        "name": "FC 2",
        "topic": "",
        "payload": "",
        "payloadType": "none",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 149,
        "y": 101,
        "z": "d0901f20.f33e9",
        "wires": [
            [
                "beed7387.71329"
            ]
        ]
    },
    {
        "id": "beed7387.71329",
        "type": "ModbusItem",
        "fc": "2",
        "address": "1",
        "count": "1",
        "value": "",
        "name": "FC 2",
        "x": 314,
        "y": 101,
        "z": "d0901f20.f33e9",
        "wires": [
            [
                "46c69572.033904"
            ]
        ]
    },
    {
        "id": "558cd6c.d681ba8",
        "type": "inject",
        "name": "FC 3",
        "topic": "",
        "payload": "",
        "payloadType": "none",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 150,
        "y": 162,
        "z": "d0901f20.f33e9",
        "wires": [
            [
                "63098157.5e3998"
            ]
        ]
    },
    {
        "id": "63098157.5e3998",
        "type": "ModbusItem",
        "fc": "3",
        "address": "1",
        "count": "4",
        "value": "",
        "name": "FC 3",
        "x": 315,
        "y": 162,
        "z": "d0901f20.f33e9",
        "wires": [
            [
                "46c69572.033904"
            ]
        ]
    },
    {
        "id": "f6bb2c83.3107",
        "type": "inject",
        "name": "FC 4",
        "topic": "",
        "payload": "",
        "payloadType": "none",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 150,
        "y": 220,
        "z": "d0901f20.f33e9",
        "wires": [
            [
                "c384b491.164c2"
            ]
        ]
    },
    {
        "id": "c384b491.164c2",
        "type": "ModbusItem",
        "fc": "4",
        "address": "1",
        "count": "4",
        "value": "",
        "name": "FC 4",
        "x": 315,
        "y": 220,
        "z": "d0901f20.f33e9",
        "wires": [
            [
                "46c69572.033904"
            ]
        ]
    },
    {
        "id": "4d25d869.a7f54",
        "type": "inject",
        "name": "FC 5",
        "topic": "",
        "payload": "",
        "payloadType": "none",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 150,
        "y": 275,
        "z": "d0901f20.f33e9",
        "wires": [
            [
                "d4713c0.88519c8"
            ]
        ]
    },
    {
        "id": "d4713c0.88519c8",
        "type": "ModbusItem",
        "fc": "5",
        "address": "172",
        "count": "1",
        "value": "FF00",
        "name": "FC 5",
        "x": 315,
        "y": 275,
        "z": "d0901f20.f33e9",
        "wires": [
            [
                "46c69572.033904"
            ]
        ]
    },
    {
        "id": "8e40a373.bb13e",
        "type": "inject",
        "name": "FC 6",
        "topic": "",
        "payload": "",
        "payloadType": "none",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 148,
        "y": 332,
        "z": "d0901f20.f33e9",
        "wires": [
            [
                "4f707899.70ed28"
            ]
        ]
    },
    {
        "id": "4f707899.70ed28",
        "type": "ModbusItem",
        "fc": "6",
        "address": "1",
        "count": "1",
        "value": "3",
        "name": "FC 6",
        "x": 313,
        "y": 332,
        "z": "d0901f20.f33e9",
        "wires": [
            [
                "46c69572.033904"
            ]
        ]
    },
    {
        "id": "6b5ee9cd.32352",
        "type": "inject",
        "name": "FC 15",
        "topic": "",
        "payload": "",
        "payloadType": "none",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 148,
        "y": 389,
        "z": "d0901f20.f33e9",
        "wires": [
            [
                "6b0bcaf9.87cbfc"
            ]
        ]
    },
    {
        "id": "6b0bcaf9.87cbfc",
        "type": "ModbusItem",
        "fc": "15",
        "address": "20",
        "count": "10",
        "value": "205",
        "name": "FC 15",
        "x": 313,
        "y": 389,
        "z": "d0901f20.f33e9",
        "wires": [
            [
                "46c69572.033904"
            ]
        ]
    },
    {
        "id": "e1aa89ab.53a7",
        "type": "inject",
        "name": "FC 16",
        "topic": "",
        "payload": "",
        "payloadType": "none",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 147,
        "y": 446,
        "z": "d0901f20.f33e9",
        "wires": [
            [
                "dedd4e6.7e927b"
            ]
        ]
    },
    {
        "id": "dedd4e6.7e927b",
        "type": "ModbusItem",
        "fc": "16",
        "address": "1",
        "count": "2",
        "value": "10 20",
        "name": "FC 16",
        "x": 312,
        "y": 446,
        "z": "d0901f20.f33e9",
        "wires": [
            [
                "46c69572.033904"
            ]
        ]
    }
]